@font-face {
  font-family: Roboto-Bold;
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(9, 9, 33);
  --secundary-color: orange;
  --text-color: lightblue;
  --detail-color: rgb(219, 78, 18);
}

html {
  font-size: 62.5%;
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

header {
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 0;
}

header img {
  height: 7rem;
}

h1 {
  position: absolute;
  visibility: hidden;
}

body {
  max-height: 100vh;
}

.wrapper {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0;
}

main {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4rem;
}

/* initial spiner */

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner img {
  height: 17rem;
}

/* rounds section */

.round-wrapper {
  height: 10rem;
  margin: 0;
}

.rounds-output {
  display: none;
  height: 10rem;
  margin: 0;
}

.rounds-output-flex h2 {
  margin: 0;
}

.rounds-output-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.roundsCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.rounds-total,
.rounds-rest {
  color: var(--text-color);
  margin: 1rem;
}

.rounds-choices label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.rounds-choices label p {
  font-size: 2.3rem;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.rounds-choices label p:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

/* rounds section & play section  */

.rounds-choices,
.play-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.rounds-choices input,
.play-choices input {
  position: relative;
  right: 3.4rem;
  visibility: hidden;
}

/* play section */

.play-choices img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.play-choices img:active {
  filter: drop-shadow(1px 1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px 1px 7px rgba(250, 138, 2, 0.626));
  border-radius: 50%;
  margin: 0;
}

.play-choices img:hover {
  background-color: var(--secundary-color);
}

/* Outputs */

.output-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
}

.output-choices {
  display: flex;
  justify-content: center;
  position: relative;
}

.output-choices img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 30%;
  position: relative;
}

.center p {
  font-size: 1.3rem;
  color: var(--text-color);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.points-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.points-wrapper .points {
  display: flex;
  justify-content: center;
  width: 100%;
}

.points-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-color);
  font-size: 1.5rem;
  width: 100%;
}

.points-wrapper span {
  font-size: 2rem;
  color: var(--text-color);
}

footer {
  position: absolute;
  bottom: 1rem;
}

footer a {
  color: var(--secundary-color);
  text-decoration: none;
}

/* Button */

.restart-btn {
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  padding: 1rem;
  background-color: transparent;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.restart-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.restart-btn-animation {
  background: linear-gradient(
    90deg,
    rgba(255, 165, 0, 0.5) 0%,
    rgba(19, 28, 85, 0.5) 50%,
    rgba(255, 165, 0, 0.5) 100%
  );
  background-size: 200% 100%;
  animation: gradient-slide 15s ease-in-out infinite;
}

.restart-btn-shadow {
  box-shadow: 2px 2px 10px rgba(250, 138, 2, 0.626),
    -2px -2px 10px rgba(250, 138, 2, 0.626),
    2px -2px 10px rgba(250, 138, 2, 0.626),
    -2px 2px 10px rgba(250, 138, 2, 0.626);
}

.more-points {
  text-align: center;
  width: 100%;
  filter: drop-shadow(1px 1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px 1px 7px rgba(250, 138, 2, 0.626));
}

/* message container: lost & win */

.message {
  height: 5rem;
  position: absolute;
  top: 8rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: visible;
}

/* win message */

.waviy {
  position: relative;
  width: 100%;
  text-align: center;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: var(--secundary-color);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-size: 1.5rem;
}

.waviy p {
  display: inline-block;
  width: 1rem;
}

.waviy .big {
  font-size: 3rem;
}

/* draw message */

.draw .letter {
  animation: combined-animation 4s linear infinite;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  animation-delay: calc(0.2s * var(--i));
}

.letter-1 {
  --color-1: orange;
  --color-2: lightblue;
  --color-3: rgb(219, 78, 18);
}
.letter-2 {
  --color-1: rgb(219, 78, 18);
  --color-2: orange;
  --color-3: lightblue;
}

.letter-3 {
  --color-1: lightblue;
  --color-2: rgb(219, 78, 18);
  --color-3: orange;
}
.letter-4 {
  --color-1: orange;
  --color-2: lightblue;
  --color-3: rgb(219, 78, 18);
}

/* lost message */
.lost-rain {
  position: relative;
  top: 4rem;
  width: 7rem;
  height: 5rem;
  z-index: 3;
  overflow: visible;
}

.lost-rain h3 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--detail-color);
  z-index: 99;
  width: 5rem;
  position: relative;
  top: -29px;
  left: 12px;
}

.cloud {
  position: relative;
  top: -50px;
  width: 7rem;
  height: 2rem;
  background-color: darkgrey;
  border-radius: 100px;
  z-index: 5;
}

.cloud::before {
  content: "";
  top: -12px;
  left: 10px;
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  background-color: darkgrey;
  border-radius: 100px;
  box-shadow: 2rem 0 0 1rem darkgrey;
}

.rain-body {
  position: relative;
  top: -6rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0 1rem;
  height: 100%;
}

.rain-item {
  position: relative;
  width: 0.2rem;
  height: 0.6rem;
  background-color: lightskyblue;
  border-radius: 100px;
  animation: drop 5s linear infinite;
  transform-origin: bottom;
}

.rain-item:nth-child(1) {
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.rain-item:nth-child(2) {
  animation-duration: 1.5s;
  animation-delay: 0.2s;
}
.rain-item:nth-child(3) {
  animation-duration: 1.34s;
  animation-delay: 0.7s;
}
.rain-item:nth-child(4) {
  animation-duration: 0.76s;
}
.rain-item:nth-child(5) {
  animation-duration: 1.47s;
  animation-delay: 0.7s;
}
.rain-item:nth-child(6) {
  animation-duration: 1.8s;
}
.rain-item:nth-child(7) {
  animation-duration: 1.5s;
}
.rain-item:nth-child(8) {
  animation-duration: 1.6s;
}
.rain-item:nth-child(9) {
  animation-duration: 1s;
  animation-delay: 0.7s;
}
.rain-item:nth-child(10) {
  animation-duration: 0.7s;
}
.rain-item:nth-child(11) {
  animation-duration: 1.39s;
}
.rain-item:nth-child(12) {
  animation-duration: 1.22s;
  animation-delay: 0.7s;
}
.rain-item:nth-child(13) {
  animation-duration: 1.66s;
}
.rain-item:nth-child(14) {
  animation-duration: 1.9s;
}
.rain-item:nth-child(15) {
  animation-duration: 2s;
}

/* KEYFRAMES */

/* button */

@keyframes gradient-slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Win message animation */

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* draw mesage animation */

@keyframes combined-animation {
  0%,
  100% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }

  80% {
    transform: rotateY(360deg);
  }
}

/* lost message */

@keyframes drop {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(120px) scale(1);
  }
  100% {
    transform: translateY(120px) scale(1);
  }
}

/* MEDIA Q */

@media screen and (max-height: 678px) {
  .wrapper {
    justify-content: flex-start;
    gap: 0;
    height: 100vh;
  }

  header {
    position: relative;
    padding: 0;
  }

  main {
    margin-top: 1rem;
    position: relative;
    top: 0;
  }
  main section {
    height: 10rem;
    margin: 0;
  }

  .message {
    margin: 0;
    height: 4rem;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  .output-section {
    height: 13rem;
    position: relative;
    top: -2.5rem;
  }

  .round-wrapper,
  .rounds-output {
    height: 10rem;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1.5rem;
  }

  .play-wrapper {
    margin-top: 0.5rem;
    position: relative;
    top: -2.5rem;
  }

  .restart-btn {
    position: relative;
    top: -2.5rem;
  }
}
