*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  margin: 3rem;
  background-color: orange;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 0;
}

h1 {
  color: #131c55;
  font-size: 2rem;
}

.wrapper {
  background-color: hsl(199, 98%, 35%);
  color: orange;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  text-align: center;
  color: #131c55;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0;
}

main {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4rem;
}

/* message/alert container */
.message {
  height: 7rem;
  position: absolute;
  top: 8rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* alert */

.alert {
  background-color: rgb(145, 28, 15);
  color: bisque;
  letter-spacing: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.round-wrapper {
  height: 12rem;
  margin: 0;
}

.rounds-output {
  display: none;
  height: 12rem;
  margin: 0;
}

.rounds-output-flex h2 {
  margin: 0;
}

.rounds-output-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.roundsCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.rounds-total,
.rounds-rest {
  color: orange;
  margin: 1rem;
}

.rounds-choices,
.play-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.rounds-choices img,
.play-choices img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.rounds-choices img:active,
.play-choices img:active {
  filter: drop-shadow(1px 1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px 1px 7px rgba(250, 138, 2, 0.626));
  border-radius: 50%;
  margin: 0;
}

.rounds-choices input,
.play-choices input {
  position: relative;
  right: 3.4rem;
  visibility: hidden;
}

/* Outputs */

/* .output-wrapper {
  height: auto;
} */

.output-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
}

.output-choices,
.points-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.output-choices img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 1rem;
}

.center p {
  font-size: 1.5rem;
  color: #131c55;
  text-align: center;
  width: 50%;
}

.points-wrapper p {
  font-size: 2rem;
  color: orange;
  text-align: center;
  width: 50%;
}

.numbers:nth-of-type(1),
.litle-title:nth-of-type(1) {
  margin-right: 3rem;
}

.numbers:nth-of-type(2),
.litle-title:nth-of-type(2) {
  margin-left: 3rem;
}

footer {
  position: absolute;
  bottom: 1rem;
}

/* Button */

.restart-btn {
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  border: 1px solid orange;
  padding: 1rem;
  background-color: transparent;
  color: orange;
}

.restart-btn:hover {
  background-color: orange;
  color: hsl(199, 98%, 35%);
}

.restart-btn-animation {
  animation: color 0.5s ease-in-out 0 infinite;
  transition: all ease-in-out;
}

@keyframes color {
  0% {
    background-color: orange;
  }

  50% {
    background-color: #131c55;
  }
  100% {
    background-color: orange;
  }
}

@media screen and (max-height: 678px) {
  .wrapper {
    justify-content: flex-start;
    gap: 1rem;
  }

  header {
    position: relative;
    margin-bottom: 0;
  }

  main section {
    height: 13rem;
  }

  .output-section {
    height: 19rem;
  }

  .message {
    position: relative;
    height: 5rem;
    width: 85%;
    top: 0;
  }

  main {
    position: relative;
    top: 0;
  }

  footer {
    position: relative;
    display: none;
  }
  .restart-btn {
    margin-bottom: 2rem;
  }
}
