*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  margin: 2rem;
}

h1 {
  color: #131c55;
}

.wrapper {
  background-color: hsl(199, 98%, 35%);
  color: orange;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

h2 {
  margin: 3rem 0;
  text-align: center;
  color: #131c55;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0;
}

.rounds-output {
  height: 11.6rem;
  display: none;
}

.roundsCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.rounds-total,
.rounds-rest {
  color: orange;
  margin: 1rem;
}

.rounds-choices,
.play-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.rounds-choices img,
.play-choices img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.rounds-choices img:active,
.play-choices img:active {
  filter: drop-shadow(1px 1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(1px -1px 7px rgba(250, 138, 2, 0.626))
    drop-shadow(-1px 1px 7px rgba(250, 138, 2, 0.626));
  border-radius: 50%;
  margin: 0;
}

.rounds-choices input,
.play-choices input {
  position: relative;
  right: 3.4rem;
  visibility: hidden;
}

.output-wrapper {
  height: 8rem;
  margin: 2rem;
}

.restart-btn {
  margin: 0 auto;
  width: 50%;
  position: relative;
  bottom: 4rem;
  border-radius: 5px;
  border: 1px solid orange;
  padding: 1rem;
  background-color: transparent;
  color: orange;
}

.output-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.restart-btn:hover {
  background-color: orange;
  color: hsl(199, 98%, 35%);
}

footer {
  position: absolute;
  bottom: 1rem;
}
